/* Опеределяем палитру цветов макета */
/* Основной цвет шрифта: #212121 */
/* Вторичный цвет шрифта: #FFFFFF */
/* Третий цвет шрифта: #757575 */
/* Акцент шрифта: #2196F3 */

/* Опеределяем палитру цветов фона */
/* Основной цвет фона: #FFFFFF */
/* Вторичный цвет фона: #2F303A */
/* Третий цвет фона: #F5F4FA */

/* Опеределяем шрифт */
/* Основной шрифт: Roboto */
/* Вторичный шрифт: Raleway */

:root {
  --primary-text-color: #212121;
  --hero-text-color: #fff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #fff;
  --secondary-background-color: #2f303a;
  --portfolio-card-gap: 30px;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  letter-spacing: 0.03em;
}
/* Глобальный сброс стилей по селекторам тегов */
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Убирает зазоры между картинкой и контентом */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Отображает все границы элементов 
* {
  outline: 1px solid tomato; 
}*/
/* Стилизация Header */
.section-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.company-name {
  display: block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: var(--primary-text-color);
  text-decoration: none;
}

.company-name-accent {
  color: var(--accent-color);
  display: inline-block; /* Убирает маленький зазор по высоте у span */
}
/* Стилизация Site-nav*/
.site-nav {
  margin-left: 93px;
}

.nav-list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  list-style: none;
}
/* Задает отступ и очищает крайнюю геометрию */
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block; /* Чтобы ссылка заняла всю ширину и не было справа зазора 4рх */
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.current {
  color: var(--accent-color);
}
/* Стилизация Site-contacts */
.contacts-list {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  list-style: none;
}
/* Задает отступ через соседа */
.contacts-list-item + li {
  margin-left: 50px;
}

.contacts-link {
  display: block; /* Чтобы ссылка заняла всю ширину и не было справа зазора 4рх */
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Cтилизация блока-героя */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.button-primary {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
/* Стилизация секции "Особенности" */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  list-style: none;
}
/* Задает отступ и очищает крайнюю геометрию */
.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item {
  width: 270px;
}

.features-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.7;
  color: var(--secondary-text-color);
}
/* Стилизация секции "Чем мы занимаемся" */
.section-services {
  padding-top: 0;
  padding-bottom: 94px;
}

.services-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}

.services-list {
  display: flex;
  list-style: none;
}
.services-list-item:not(:last-child) {
  margin-right: 30px;
}
/* Стилизация секции "Наша команда" */
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}

.team-list {
  display: flex;
  list-style: none;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  background-color: var(--primary-background-color);
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.team-list-description {
  font-size: 16px;
  color: var(--secondary-text-color);
}
/* Стилизация Footer */
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-company-name {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.company-adress {
  font-style: normal;
  line-height: 1.7;
  color: white;
}
.company-link {
  display: block; /* Убирает зазор между ссылками */
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.company-link:hover,
.company-link:focus {
  color: var(--accent-color);
}
/* Стилизация секции "Портфолио работ" */
.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.button-list {
  display: flex;
  width: 611px;
  justify-content: space-between;
  list-style: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: calc(-1 * var(--portfolio-card-gap));
  margin-top: calc(-1 * var(--portfolio-card-gap)); /* Так запишется -30рх */
  list-style: none;
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - var(--portfolio-card-gap));
  margin-left: var(--portfolio-card-gap);
  margin-top: var(--portfolio-card-gap);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.cards-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.project-link {
  text-decoration: none;
}

.project-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
